.main-container-home {
  width: 100%;
}

.homeContainer {
  width: 100%;
  height: 100%;
}

/* Subcontainer 1 */

.subContainer1 {
  position: relative;
  top: 20px;
  width: 100%;
  height: 700px;
}

.towTruck1 {
  width: 100%;
  height: 100%;
}

.subContainer1Text1 {
  position: relative;
  bottom: 480px;
  left: 5%;
  width: 80%;
  color: white;
}

.subContainer1Text2 {
  position: relative;
  font-size: 50px;
  bottom: 450px;
  left: 5%;
  width: 80%;
  color: orange;
}

.subContainer1Text3 {
  position: relative;
  bottom: 450px;
  left: 5%;
  width: 80%;
  font-size: 40px;
  color: white;
}

/* Subcontainer 2 */

.subContainer2 {
  position: relative;
}

.serviceExamplesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(37, 36, 36);
  height: 1000px;
  width: 100%;
}

.ourServicesTitle {
  margin: auto;
  font-size: 50px;
  color: rgb(199, 199, 81);
}

.example {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.exampleText {
  width: 200px;
  padding-top: 30px;
  font-size: 25px;
}

.exampleText1 {
  color: rgb(141, 248, 2);
}

.exampleText2 {
  color: rgb(248, 195, 2);
}

.exampleText3 {
  color: rgb(2, 248, 121);
}

.ourServicesImage {
  width: 200px;
  height: 200px;
}

/* Subcontainer 3 */

.subContainer3 {
  position: relative;
  padding-top: 10px;
  width: 100%;
  height: 700px;
  background-color: orangered;
}

.subContainer3Content1 {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 20px 0 0 20px;
  background-color: black;
  color: white;
  height: 200px;
  width: 300px;
  z-index: 2;
}

.subContainer3Content2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 5%;
  bottom: 100px;
  width: 90%;
  height: 500px;
  background-color: rgb(238, 238, 238);
  z-index: 1;
}

.mechanicImage {
  width: 150px;
  height: 150px;
}

/* Subcontainer 4 */

.subContainer4 {
  position: relative;
  padding: 80px 0;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
  background-color: ghostwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subContainer4Content1,
.subContainer4Content2 {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 850px) {
  .mechanicImage {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 600px) {
  .mechanicImage {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 450px) {
  .subContainer1Text1 {
    position: absolute;
    font-size: 20px;
    bottom: 400px;
    left: 5%;
    color: white;
  }

  .subContainer1Text2 {
    position: absolute;
    font-size: 40px;
    bottom: 200px;
    left: 5%;
    color: orange;
  }

  .subContainer3Text1 {
    margin: 1px 0 0 10px;
  }

  .subContainer2 {
    margin: -150px 0;
  }

  .ourServicesTitle {
    margin: 60px 0;
  }

  .ourServicesImage {
    width: 125px;
    height: 125px;
  }

  .exampleText {
    width: 200px;
    font-size: 18px;
  }

  /* Subcontainer 3 */

  .subContainer3 {
    height: 1000px;
  }

  .subContainer3Content1 {
    margin: 5px 0 0 5px;
  }

  .subContainer3Content2 {
    flex-direction: column;
    justify-content: unset;
    height: 800px;
  }

  .mechanicImage {
    position: relative;
    top: 100px;
    margin: 10px 0;
    width: 150px;
    height: 150px;
  }
}
