.main-abtUs {
  width: 100%;
}

.bckgImage {
  position: relative;
  top: 170px;
  height: 650px;
}

.abtUsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  bottom: 250px;
}

.abtUsSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: aqua;
}

.abtUsH1 {
  color: blue;
  width: 40%;
}

.abtUsPara {
  width: 60%;
}
