.main-abtUs {
  width: 100%;
  height: 100%;
}

.bckgImage {
  position: relative;
  top: 170px;
  height: 650px;
}

.abtUsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 400px;
  height: 1400px;
}

.abtUsSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.abtUsTitle {
  text-align: center;
  font-size: 50px;
  bottom: 450px;
  left: 5%;
  width: 80%;
  color: orange;
}

.abtUsPara {
  text-align: center;
  width: 80%;
  color: white;
  text-transform: uppercase;
}

.topServicesContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
  height: 300px;
  background-color: white;
}

.topServicesTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
  font-style: italic;
  height: 100%;
}

.topServicesList {
  font-family: 'Anton SC', sans-serif;
  font-size: 30px;
  font-weight: 9000;
  font-style: normal;
}

.topServicesList p {
  background-color: orange;
  padding: 30px;
  transform: skew(-5deg, -5deg);
}

.otherServicesContainer {
  position: relative;
  top: 200px;
  padding-bottom: 300px;
  margin-bottom: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background-color: rgb(46, 45, 45);
  color: white;
}

.otherServicesTitle {
  text-transform: uppercase;
  transform: skew(-15deg, 0);
  color: rgb(255, 180, 40);
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.otherServicesPara {
  text-align: center;
  font-size: 30px;
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.otherServicesImages {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.otherServicesImage {
  width: 150px;
  height: 150px;
}

.moreServicesBtn {
  position: relative;
  top: 100px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 40px 0;
  padding: 10px 10px;
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: 40px;
  z-index: 1;
}

@media only screen and (max-width: 850px) {
  .topServicesTitle {
    width: 40%;
    font-size: 45px;
  }

  .topServicesContainer {
    height: 280px;
    padding: 45px 0;
  }

  .topServicesList {
    font-size: 30px;
    width: 40%;
  }

  .topServicesList p {
    background-color: orange;
    padding: 18px;
    transform: skew(-5deg, -5deg);
  }

  .otherServicesPara {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .otherServicesImage {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .abtUsSubContainer {
    width: 100%;
  }

  .topServicesContainer {
    height: 220px;
    padding-bottom: 0;
  }

  .topServicesList {
    font-size: 25px;
  }

  .topServicesList p {
    background-color: orange;
    padding: 10px;
    transform: skew(-5deg, -5deg);
  }
}

@media only screen and (max-width: 400px) {
  .abtUsContainer {
    height: 1700px;
  }
  .topServicesContainer {
    height: 380px;
  }
  .topServicesTitle {
    font-size: 30px;
  }

  .otherServicesContainer {
    height: 670px;
  }

  .otherServicesTitle {
    font-size: 40px;
  }

  .moreServicesBtn {
    width: 280px;
  }
}
